.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;

  .title {
    color: white;
    font-family: 'Padauk', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
  }
}