.cover {
  background: linear-gradient(0deg,#010101 0,rgba(1,1,1,0) 25%),url(https://res.cloudinary.com/torre-technologies-co/image/upload/v1595553170/origin/opportunities/Skeletons/dashboard_background.png) 35% #010101;
  background-size: cover;
  min-height: 350px;
  height: 100vh;
}